@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');




body {
  font-family: 'Caudex', serif;
}


.bg-navbar {
  background-color: white;
}
.bg-image-navbar {
  background-image: url("./assets/image/background-navbar-2.jpg");
  /* opacity: 0; */
  /* animation: fadeIn 1s ease-in-out ; */
}
.bg-image-navbar-mobile {
  background-image: url("./assets/image/background-navbar-mobile.jpg");
  /* opacity: 0; */
  /* animation: fadeIn 1s ease-in-out ; */
  background-size: cover;
  background-repeat: no-repeat;
}
.inactive {
  /* opacity: 0; */
  animation: fadeOut 1s  ease-in-out  ;
}

.fade {
  animation: fadeOut 1s  ease-in-out  ;

}
@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.footer {
  position: relative;
  background-image: url("./assets/image/background-navbar-mobile.jpg");
  background-size: cover;
  background-position: center;
}

.footer-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .9;
  background-color: #FBF9F2
}

.footer-content {
  position: relative;
  z-index: 1; /* Ensure the content is above the background overlay */
  color: #fff; /* Set the text color */
  /* Additional styling for the text */
}



